[submodule "ingeint/odoo-kushki"]
	path = ingeint/odoo-kushki
	url = git@github.com:ingeint/odoo-kushki.git
	branch = master

[submodule "ingeint/odoo-kush"]
	path = ingeint/odoo-kush
	url = git@github.com:ingeint/odoo-kushki.git
	branch = master

[submodule "ingeint/ingeint-kushki"]
	path = ingeint/ingeint-kushki
	url = git@github.com:ingeint/odoo-kushki.git
	branch = master

[submodule "ingeint/odoo-k"]
	path = ingeint/odoo-k
	url = git@github.com:ingeint/odoo-kushki.git
	branch = master
